.exo1
    background: #a5a5a5
.exo2
    background: #a5a5a5
.exo3
    background: #a5a5a5
.exo4
    background: #a5a5a5
    .carreRouge
        height: 50px
        width: 50px
        background: red
        display: flex
        justify-content: center
        align-content: center
    .myElem
        display: flex
        flex-direction: column-reverse

.exo5
    background: #a5a5a5
    .myImg
        img
            margin: 20px
            height: 50px
            width: 40px
.exo6
    background: #a5a5a5
    .myCalculette
        height: 400px
        width: 350px
        background: #0d0d1f
    .mybout
        margin-top: 8px
        div
            border-top: 1px solid #575757
            button
                height: 50px
                width: 50px
                margin-left: 20px
                margin-top: 20px
                border-radius: 15%
.operateur
    border: none
.exo7
    background: #a5a5a5
#lastInput
    height: 50px
.mybtn1
    background: #494949
    color: white
    border: 1px solid white
    height: 40px
    border: none
    border-radius: 20%
.mybtn2
    background: #03a4c0
    color: white
    border: 1px solid white
    height: 40px
    border: none
    border-radius: 20%
.mybtn3
    background: #9c07a1
    color: white
    border: 1px solid white
    height: 40px
    border: none
    border-radius: 20%

#inputLs
    background-color: rgba(0,0 ,0 ,0 )
    border: none
    outline-style: none
    width: 50%
